# Qdrant Configuration
QdrantClientURL=your_qdrant_cloud_url
QdrantClientAPIKey=your_qdrant_api_key

# Service Configuration
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5
EMBEDDING_SIZE=384
COLLECTION_NAME=News