# Qdrant Configuration
QdrantClientURL=your_qdrant_cloud_url
QdrantClientAPIKey=your_qdrant_api_key


#Kafka connection information
KAFKA_BOOTSTRAP_SERVERS=your_kafka_bootstrap_servers
KAFKA_SECURITY_PROTOCOL=SSL
KAFKA_SSL_CAFILE=./ca.pem
KAFKA_SSL_CERTFILE=./service.cert
KAFKA_SSL_KEYFILE=./service.key

KAFKA_INGEST_TOPIC=your_kafka_ingest_topic
KAFKA_GROUP_ID_EMBEDDING=your_kafka_group_id_embedding

#I used Aiven for Kafka because of the free tier.